@using FrotaManagerTeste.Domain.Entities
@model FrotaManagerTeste.Web.Models.VehicleAddViewModel

@{
    ViewBag.Title = "Adição de Veículos";
    Layout = "_Layout";
}

<h2 class="mb-4">Cadastro de Veículos</h2>

<form asp-action="AddVehicle" method="post">
    
    <div class="mb-3">
        <label asp-for="Chassis" class="form-label"></label>
        <input asp-for="Chassis" class="form-control">
        <span asp-validation-for="Chassis" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="Color" class="form-label"></label>
        <input asp-for="Color" class="form-control">
        <span asp-validation-for="Color" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="VehicleType" class="form-label"></label>
        <select asp-for="VehicleType" class="form-select" asp-items="Html.GetEnumSelectList<VehicleType>()">
        </select>
        <span asp-validation-for="VehicleType" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-outline-info px-4 me-sm-3 fw-bold">Adicionar Veículo</button>
    <a asp-action="Index" class="btn btn-outline-secondary px-4 me-sm-3 fw-bold" role="button">Voltar</a>
</form>
