@using FrotaManagerTeste.Domain.Entities
@model FrotaManagerTeste.Domain.Entities.Vehicle

@{
    ViewBag.Title = "Edição de Veículos";
    Layout = "_Layout";
}

<!-- Modal -->
<div class="modal fade" id="vehicleRemoveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Remoção de Veículo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja realmente remover o veículo?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Quero remover</button>
            </div>
        </div>
    </div>
</div>


<h2 class="mb-4">Editar de Veículo</h2>
<p>Na edição do veículo, somente será possível editar sua <strong><code>COR</code></strong>. Agradecemos a compreenção! ;)

<div class="row">
    <form id="formUpdateVehicle" asp-action="EditVehicle" method="post">
        
        <input asp-for="Id" type="hidden">
    
        <div class="mb-3">
            <label asp-for="Chassis" class="form-label"></label>
            <input asp-for="Chassis" class="form-control" disabled>
            <span asp-validation-for="Chassis" class="text-danger"></span>
        </div>
    
        <div class="mb-3">
            <label asp-for="Color" class="form-label"></label>
            <input asp-for="Color" class="form-control">
            <span asp-validation-for="Color" class="text-danger"></span>
        </div>
    
        <div class="mb-3">
            <label asp-for="VehicleType" class="form-label"></label>
            <select asp-for="VehicleType" class="form-select" disabled asp-items="Html.GetEnumSelectList<VehicleType>()">
            </select>
            <span asp-validation-for="VehicleType" class="text-danger"></span>
        </div>

    </form>
    
    <form id="formRemoveVehicle" asp-action="RemoveVehicle" method="post">
        <input asp-for="Id" type="hidden">
    </form>
    
    <div>
        <button id="btnSubmit" type="button" class="btn btn-outline-info px-4 me-sm-3 fw-bold">Atualizar Veículo</button>
        <button type="button" class="btn btn-outline-danger px-4 me-sm-3 fw-bold" data-bs-toggle="modal" data-bs-target="#vehicleRemoveModal">Remover Veículo</button>
        <a asp-action="Index" class="btn btn-outline-secondary px-4 me-sm-3 fw-bold" role="button">Voltar</a>
    </div>
    
</div>


@section Scripts
{
    <script>
        $(function() {
            $('#btnSubmit').click(function (){
              $("#formUpdateVehicle").submit();
            });
            $("#vehicleRemoveModal").on("click",".btn-primary", function(){
                $("#formRemoveVehicle").submit();
            });
        });  
    </script>
}