@model IList<FrotaManagerTeste.Domain.Entities.Vehicle>

@{
    ViewBag.Title = "Início";
    Layout = "_Layout";
}

@if (Context.Request.Query["query"].Any() && !Model.Any())
{
    <div class="bg-dark text-secondary px-4 py-5 text-center">
        <div class="py-5">
            <h1 class="display-5 fw-bold text-white">Ué!? Nada nessa Pesquisa?</h1>
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">Então é melhor voltar e pesquisar novamente né?! ;)</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a asp-action="Index" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Voltar sim!</a>
                </div>
            </div>
        </div>
    </div>
}
else if (Model.Any())
{
    <h2 class="mb-4">Últimos Veículos Cadastrados</h2>

    <form asp-action="Index" method="get">
        <div class="row mb-3">
            <div class="col">
                <input name="query" type="text" class="form-control" placeholder="Buscar por Chassi">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-outline-info">Buscar</button>
            </div>
            <div class="col">
                <a class="btn btn-outline-info" asp-action="AddVehicle" role="button">Novo Veículo</a>
            </div>
        </div>
    </form>
    
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th>Chassis</th>
            <th>Tipo do Veículo</th>
            <th>N. Passageiros</th>
            <th>Cor</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var vehicle in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-outline-info btn-sm px-4 me-sm-3 fw-bold"
                       asp-controller="Vehicle" 
                       asp-action="EditVehicle" 
                       asp-route-vehicleId="@vehicle.Id">
                        @vehicle.Chassis
                    </a>
                </td>
                <td>@vehicle.VehicleType</td>
                <td>@vehicle.NumberOfPassengers</td>
                <td>@vehicle.Color</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <div class="bg-dark text-secondary px-4 py-5 text-center">
        <div class="py-5">
            <h1 class="display-5 fw-bold text-white">Ué!? Cadê os veículos?</h1>
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">Para cadastrar um veículo, basta clicar abaixo em "Novo Veículo" e seja feliz! ;)</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a asp-action="AddVehicle" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Novo Veículo</a>
                </div>
            </div>
        </div>
    </div>
    
}




